opencv-python>=4.10.0
mediapipe==0.10.14
numpy>=1.26.0
pygame>=2.6.0
pyautogui>=0.9.54
screen-brightness-control>=0.24.0
Pillow>=10.4.0
pycaw>=20240210
comtypes>=1.4.5
SpeechRecognition>=3.10.4
pyttsx3>=2.98
